

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav_vertical{
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #06466d;
    left: 0;
    border-radius: 10px;
    color:#ffffff;   
}

.nav_horizontal{
    position: fixed;
    width: 80%;
    height: 100%;
    background-color: #fff;
    right: 0;
    border-radius: 20px;
    
}

.navbar{
    position: relative;
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 30px 0 rgba(11, 130, 203, 0.2);
}

.containn{
    position: relative;
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}

.logo{
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
}

.logo img{
    position: relative;
    justify-content: center;
    width: 60%;
    height: 73%;
    margin: auto;    
}

.scroll_menu{
    position: relative;
    background-color: #2b73b3;
    display: block;
    width: 100%;
    height: 60%;
    font-size: 20px;
    padding-top: 10px;
}


.scroll_menu div{
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    height: 10%;
    padding: 0;
    margin-top: 10px;
    line-height:40px; 
    margin: auto;
}


.scroll_menu div a{
    display: flex;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    transition-duration: 0.5s;
    
}

.scroll_menu div a:hover{
    background-color: #06466d;
    transition-duration: 0.5s;
    border-radius: 15x;
    border-bottom: 1px solid rgb(250, 246, 246);
}


/*CSS du Menu deroulant */


.scroll_menu .menu{
    position: relative;
    display: none;
    margin: 0;
    list-style: none;
    background: #06466d;
    padding: 15px;
    width: 95%;
    height: 15%;
    font-size: 18px;
    z-index: 1;
}

.scroll_menu .menu li{
    margin-bottom: 15px;
    text-align: center;  
    transition-duration: 0.4s;
    padding: 5px;
    
}
.scroll_menu .menu li:hover{
    background: #2B80A2; 
    
}


.scroll_menu .menu li a{
    text-decoration: none;
    color:#FF6600;
}

.container:hover .menu {
    display: block;
    position: relative;    
}

.container{
    position: relative;
    display: block;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 10px;
}



/*NavBAR horizontale */

.session{
    display: flex;
    width: 50%;
    height: 100%;
    float: right;
}
.session a{    
    display: flex;
}

.session a img{
    display: block;
    margin:auto;
}
.session a .img_deconnexion:hover{
    width: 75%;
    height: 70%;
}



.session a .img_profile{
        width: 100%;
        height: 95%;
        border-radius:60px ;  

}




.session a .img_deconnexion{
    
    width: 90%;
    height: 75%;
    border-radius:30px ;
    transition-duration: 0.2s;  
}
.espace{
    position: relative;
    width: 60%;
    height: 100%;
}

.info{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-evenly;
    line-height: 90px;
}


.info a{
   display: inline-block;
    text-decoration: none;
    background: #2b73b3;
    height: 50%;
    width: 20%;
    color:#fff;
    text-align: center;
    padding-bottom: 10px;
    top:10%;
    margin-top:20px;
    border-top-right-radius: 60px;
    transition-duration: 0.4s;
}

.info a:hover{
    height: 75%;
    background: #06466d;
    transition-duration: 0.4s;
}


.sms_rest{
    color:#FF6600;
    font-size: 20px;
}




/*CSS DU CONTENU DE LA PAGE ENVOIE SMS*/


.option_send{
    position: relative;
    display: block;
    background-color:#f5f5f5bb;;
    top: 0;
    height: 12%;
    width: 90%;
    font-size: 17px;
    margin: auto;
    margin-bottom: 40px;
    transition-duration: 0.5s;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.option_send:hover{
    
    opacity: 1;
    transition-duration: 0.5s;
}

.option_send input{
    position: relative;
    height: 20px;
    width: 20px;
    justify-content: space-between;

}

.option_send input[type="text"]{
    position: relative;
    display: none;
    height: 70px;
    width: 40%;
    color:#fff;
    border: 2px solid #a5c5fe;
    background: #fff;
    color: #000000;
    border-radius: 15px;
    font-size: 17px;
    text-align: center;
    left:10%;
}

.option_send select{
    display: none;
    position:relative;
    height: 70px;
    width: 40%;
    border: 2px solid #a5c5fe;
    background: #ffffff;
    color: #000000;
    border-radius: 15px;
    font-size: 17px;
    text-align: center;
    left:10%;    
}

.option_send select option{
    width: 40%;
    border: 2px solid #a5c5fe;
    background: #ffffff;
    color: #000000;
}



.option_send input[type="text"]:focus{
    outline: none;
}

.option_send select:focus{
    outline: none;
}

.containn .form_sms{
    top: 40px;
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}

.containn .form_sms form{
    position: relative;
    width: 100%;
    height: 100%;
}

.containn .form_sms textarea{
    position: relative;
    display: block;
    margin: auto;
    width: 70%;
    height: 35%;
    font-size: 18px;
    line-height: 1.5;
    outline: none;
    border: 1px solid  #2d76b2;
    background: #f5f5f5;
    transition-duration: 0.5s;
    border-radius: 10px;
}

.containn .form_sms textarea:hover{
    border: 2px solid  #2d76b2;
    transition-duration: 0.5s;
}


.varchar{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : #2d76b2;
}

.containn .form_sms .button{
    position: relative;
    height: 15%;
    width: 40%;
    display: block;
    top:30px;
    margin: auto;
}

.containn .form_sms .button button{
   border: none;
   padding: 15px;
   margin: 10px;
   border-radius: 10px;
   background: #f5f5f5;
   border: 1px solid #2d76b2 ;
   font-size: 17px;
   cursor: pointer;
   transition-duration: 0.5s;
}

.containn .form_sms .button button:hover{
    transition-duration: 0.5s;
    background-color: #06466d;
    color:#fff;
}




/*  CSS POPUP */
.containn .popup{
    position: absolute;
    visibility: hidden;
    left:25%;
    width: 50%;
    height: 50%;
    z-index: 1;
    background: #f5f5f5;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
    top: 15%;
    text-align: center;
    transition-duration: 0.6s;
    transform: scale(0.1);
}
.containn .popup:hover{
    transform: scale(1.5);
    transition-duration: 0.6s;
}

.containn .popup img{
    position: relative;
    height: 30%;
    width: 15%;
    border-radius: 65px;
    border: 2px solid #a5c5fe;
}

.containn .popup .form{
    position: relative;
    height: 50%;
}

.containn .popup .form label{
    color: #06466d;
}
.containn .popup .form input {
    height: 50px;
    width: 230px;
    border:none;
}

.containn .popup .form .buttonn{
    margin-top: 20px;
    position: relative;
    width: 40%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.containn .popup .form .buttonn .button_{
    position: relative;
    width: 30%;
    padding: 7px;
    border:none;
    border-bottom:2px solid #06466d;
    transition-duration: 0.5s;
    cursor: pointer;
}

.containn .popup .form .buttonn .button_:hover{
    transition-duration: 0.5s;
    background-color: #06466d;
    color:#fff;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}




/* RESPONSIVITE DE DES DEUX NAVS */

@media screen and (max-width: 1648px) {

    .nav_vertical{
        display: none;
    }

    .navbar{
        height: 10%;

    }

    .nav_horizontal{
        width: 100%;
        overflow-y: scroll;
    }
}


@media screen and (max-width: 400px) {
    .nav_horizontal{
        overflow-y: scroll;
    }
    .option_send{
        height: 10%;
        width: 90%;
        font-size: 11px;
        margin: auto;
    }

    .option_send input{
        position: relative;
        height: 10px;
        width: 10px;
        justify-content: space-between;
    
    }
    
    .option_send input[type="text"]{
        position: relative;
        display: none;
        height: 25px;
        width: 30%;
        font-size: 7px;
        left:5%;
    }
    
    .option_send select{
        display: none;
        position:relative;
        height: 30px;
        width: 30%;
        font-size: 7px;
        left:5%;    
    }
    
    .option_send select option{
        position: relative;
        width: 10%;
        border: 2px solid #a5c5fe;
        background: #ffffff;
        color: #000000;
        overflow-y: scroll;
    }
    
    .option_send input[type="text"]:focus{
        outline: none;
    }
    
    .option_send select:focus{
        outline: none;
    }

    .containn .form_sms textarea{
        font-size: 11px;
    }


    /*Button*/
    .containn .form_sms .button{
        position: relative;
        height: 15%;
        width: 90%;
        display: flex;
        top:30px;
        justify-content: space-around;
        margin: auto;
    }
    
    .containn .form_sms .button button{
       padding: 11px;
       margin: 3px;
       border: 1px solid #2d76b2 ;
       font-size: 11px;
    }


    /*  CSS POPUP */
    .containn .popup{
        padding-top: 20px;
        left:25%;
        width: 50%;
        height: 40%;
        z-index: 1;
        box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
        top: 15%;
    }
    .containn .popup:hover{
        transform: scale(1.5);
        transition-duration: 0.6s;
    }

    .containn .popup img{
        position: relative;
        height: 10%;
        width: 15%;
        border-radius: 65px;
        border: 2px solid #a5c5fe;
    }

    .containn .popup .form{
        position: relative;
        height: 50%;
    }

    .containn .popup .form label{
        color: #06466d;
        font-size: 8px;
    }
    .containn .popup .form input {
        height: 40px;
        width: 120px;
        border:none;
        font-size: 8px;
    }

    .containn .popup .form .button{
        margin-top: 20px;
        position: relative;
        width: 70%;
        margin: auto;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        
    }

    .containn .popup .form .button .button_{
        position: relative;
        width: 30%;
        padding: 7px;
        border:none;
        border-bottom:2px solid #06466d;
        transition-duration: 0.5s;
        cursor: pointer;
        font-size: 7px;
    }

    .containn .popup .form .button .button_:hover{
        transition-duration: 0.5s;
        background-color: #06466d;
        color:#fff;
        border-top-left-radius: 10px ;
        border-top-right-radius: 10px ;
    }
    .popup h2{
        font-size: 11px;
    }


    /*RESPONSIVE NAVBAR HORIZONTALE*/


    .session{
        display: flex;
        width: 20%;
        height: 100%;
        float: auto;
    }
    .session a{    
        display: flex;
    }

    .session a img{
        display: block;
        margin:auto;
    }
    .session a .img_profile{
            width: 92%;
            height: 42%;
            border-radius:60px ;       
    }

    .session a .img_deconnexion{
        width: 85%;
        height: 35%;
        border-radius:30px ;
        transition-duration: 0.2s;  
    }
    .session a .img_deconnexion:hover{
        width: 85%;
        height: 35%;
    }
    .espace{
        position: relative;
        width: 20%;
        height: 100%;
    }

    .info{
        width: 80%;
        height: 100%;
        float: left;
        display: flex;
        justify-content: space-evenly;
        line-height: 90px;
    }


    .info a{
        display: inline-block;
        position: relative;
        background: #fff;
        height: 12%;
        width: 15%;
        color:#000000;
        text-align: center;
        padding-bottom: 0;
        padding-top: 0;
        padding: 11px;
        top:20px;
        margin-top:0;
        border-radius:10px;
        font-size: 6px;
        line-height: 18px;
        border-bottom: 2px solid #2b73b3;
    }

    .info .text{
        font-size: 7px;
        line-height: 60px;
    }

    .info a:hover{
        height: 12%;
        background: #06466d;
        color:#fff;
        transition-duration: 0.4s;
    }
}
 

/* IPHONE XR & SAMSUNG GALAXY*/

@media screen and (max-width: 699px) and (min-width: 401px){
    .nav_horizontal{
        overflow-y: scroll;
    }
    .option_send{
        height: 10%;
        width: 90%;
        font-size: 11px;
        margin: auto;
    }

    .option_send input{
        position: relative;
        height: 12px;
        margin: auto;
        width: 12px;
        justify-content: space-between;
    
    }
    
    .option_send input[type="text"]{
        position: relative;
        display: none;
        height: 35px;
        width: 35%;
        font-size: 7px;
        left:5%;
    }
    
    .option_send select{
        display: none;
        position:relative;
        height: 35px;
        width: 35%;
        font-size: 7px;
        left:5%;    
    }
    
    .option_send select option{
        position: relative;
        width: 10%;
        border: 2px solid #a5c5fe;
        background: #ffffff;
        color: #000000;
        overflow-y: scroll;
    }
    
    .option_send input[type="text"]:focus{
        outline: none;
    }
    
    .option_send select:focus{
        outline: none;
    }

    .containn .form_sms textarea{
        font-size: 11px;
    }


    /*Button*/
    .containn .form_sms .button{
        position: relative;
        height: 15%;
        width: 90%;
        display: flex;
        top:30px;
        justify-content: space-around;
        margin: auto;
    }
    
    .containn .form_sms .button button{
       margin-bottom: 0;
       border: 1px solid #2d76b2 ;
       font-size: 11px;
    }

    /*  CSS POPUP */
    .containn .popup{
        padding-top: 20px;
        left:25%;
        width: 50%;
        height: 40%;
        z-index: 1;
        box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
        top: 15%;
    }
    .containn .popup:hover{
        transform: scale(1.5);
        transition-duration: 0.6s;
    }

    .containn .popup img{
        position: relative;
        height: 13%;
        width: 15%;
        border-radius: 65px;
        border: 2px solid #a5c5fe;
    }

    .containn .popup .form{
        position: relative;
        height: 50%;
    }

    .containn .popup .form label{
        color: #06466d;
        font-size: 8px;
    }
    .containn .popup .form input {
        height: 40px;
        width: 120px;
        border:none;
        font-size: 8px;
    }

    .containn .popup .form .button{
        margin-top: 20px;
        position: relative;
        width: 70%;
        margin: auto;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        
    }

    .containn .popup .form .button .button_{
        position: relative;
        width: 30%;
        padding: 7px;
        border:none;
        border-bottom:2px solid #06466d;
        transition-duration: 0.5s;
        cursor: pointer;
        font-size: 7px;
    }

    .containn .popup .form .button .button_:hover{
        transition-duration: 0.5s;
        background-color: #06466d;
        color:#fff;
        border-top-left-radius: 10px ;
        border-top-right-radius: 10px ;
    }
    .popup h2{
        font-size: 11px;
    }


    /*RESPONSIVE NAVBAR HORIZONTALE*/


    .session{
        display: flex;
        width: 20%;
        height: 100%;
        float: auto;
    }
    .session a{    
        display: flex;
    }

    .session a img{
        display: block;
        margin:auto;
    }
    .session a .img_profile{
            width: 92%;
            height: 42%;
            border-radius:60px ;       
    }

    .session a .img_deconnexion{
        width: 85%;
        height: 35%;
        border-radius:30px ;
        transition-duration: 0.2s;  
    }
    .session a .img_deconnexion:hover{
        width: 85%;
        height: 35%;
    }
    .espace{
        position: relative;
        width: 20%;
        height: 100%;
    }

    .info{
        width: 80%;
        height: 100%;
        float: left;
        display: flex;
        justify-content: space-evenly;
        line-height: 90px;
    }


    .info a{
        display: inline-block;
        position: relative;
        background: #fff;
        height: 12%;
        width: 15%;
        color:#000000;
        text-align: center;
        padding-bottom: 0;
        padding-top: 0;
        padding: 11px;
        top:20px;
        margin-top:0;
        border-radius:10px;
        font-size: 7px;
        line-height: 18px;
        border-bottom: 2px solid #2b73b3;
    }

    .info .text{
        font-size: 7px;
        line-height: 60px;
    }

    .info a:hover{
        height: 12%;
        background: #06466d;
        color:#fff;
        transition-duration: 0.4s;
    }


}


@media screen and (max-width: 912px) and (min-width: 700px){
    .nav_horizontal{
        overflow-y: scroll;
    }
    .option_send{
        height: 10%;
        width: 90%;
        font-size: 16px;
        margin: auto;
    }

    .option_send input{
        position: relative;
        height: 15px;
        margin: auto;
        width: 15px;
        justify-content: space-between;
    
    }
    
    .option_send input[type="text"]{
        position: relative;
        display: none;
        height: 35px;
        width: 40%;
        font-size: 13px;
        left:5%
    }
    
    .option_send select{
        display: none;
        position:relative;
        height: 35px;
        width: 40%;
        font-size: 13px;
        left:5%;    
    }
    
    .option_send select option{
        position: relative;
        width: 10%;
        border: 2px solid #a5c5fe;
        background: #ffffff;
        color: #000000;
        overflow-y: scroll;
    }
    
    .option_send input[type="text"]:focus{
        outline: none;
    }
    
    .option_send select:focus{
        outline: none;
    }

    .containn .form_sms textarea{
        font-size: 13px;
    }


    /*Button*/
    .containn .form_sms .button{
        position: relative;
        height: 15%;
        width: 90%;
        display: flex;
        top:30px;
        justify-content: space-around;
        margin: auto;
    }
    
    .containn .form_sms .button button{

       padding-top: 5px;
       padding: 10px;
       border: 1px solid #2d76b2 ;
       font-size: 11px;
    }

    /*  CSS POPUP */
    .containn .popup{
        padding-top: 20px;
        left:25%;
        width: 50%;
        height: 40%;
        top: 15%;
    }
    .containn .popup:hover{
        transform: scale(1.5);
        transition-duration: 0.6s;
    }

    .containn .popup img{
        position: relative;
        height: 15%;
        width: 15%;
        border-radius: 65px;
        border: 2px solid #a5c5fe;
    }

    .containn .popup .form{
        position: relative;
        height: 50%;
    }

    .containn .popup .form label{
        color: #06466d;
        font-size: 8px;
    }
    .containn .popup .form input {
        height: 40px;
        width: 120px;
        border:none;
        font-size: 8px;
    }

    .containn .popup .form .button{
        margin-top: 20px;
        position: relative;
        width: 70%;
        margin: auto;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        
    }

    .containn .popup .form .button .button_{
        position: relative;
        width: 30%;
        padding: 7px;
        border:none;
        border-bottom:2px solid #06466d;
        transition-duration: 0.5s;
        cursor: pointer;
        font-size: 7px;
    }

    .containn .popup .form .button .button_:hover{
        transition-duration: 0.5s;
        background-color: #06466d;
        color:#fff;
        border-top-left-radius: 10px ;
        border-top-right-radius: 10px ;
    }
    .popup h2{
        font-size: 11px;
    }


    /*RESPONSIVE NAVBAR HORIZONTALE*/


    .session{
        display: flex;
        width: 25%;
        height: 100%;
        float: auto;
    }
    .session a{    
        display: flex;
    }

    .session a img{
        display: block;
        margin:auto;
    }
    .session a .img_profile{
            width: 99%;
            height: 49%;
            border-radius:60px ;       
    }

    .session a .img_deconnexion{
        width: 95%;
        height: 40%;
        border-radius:30px ;
        transition-duration: 0.2s;  
    }
    .session a .img_deconnexion:hover{
        width: 95%;
        height: 40%;
    }
    .espace{
        position: relative;
        width: 20%;
        height: 100%;
    }

    .info{
        width: 75%;
        height: 100%;
        float: left;
        display: flex;
        justify-content: space-evenly;
        line-height: 90px;
    }


    .info a{
        display: inline-block;
        position: relative;
        background: #fff;
        height: 12%;
        width: 15%;
        color:#000000;
        text-align: center;
        padding-bottom: 0;
        padding-top: 0;
        padding: 11px;
        top:40px;
        margin-top:0;
        border-radius:10px;
        font-size: 10px;
        line-height: 30px;
        border-bottom: 2px solid #2b73b3;
    }

    .info .text{

        font-size: 10px;
        line-height: 110px;
    }

    .info a:hover{
        height: 12%;
        background: #06466d;
        color:#fff;
        transition-duration: 0.4s;
    }


    

}

@media screen and (max-width:1280px) and (min-width: 913px){
    .containn .popup{
        padding-top: 20px;
        left:25%;
        width: 50%;
        height: 45%;
        top: 15%;
    }
    .containn .popup:hover{
        transform: scale(1.5);
        transition-duration: 0.6s;
    }

    .containn .popup img{
        position: relative;
        height: 30%;
        width: 15%;
        border-radius: 65px;
        border: 2px solid #a5c5fe;
    }

    .containn .popup .form{
        position: relative;
        height: 50%;
    }

    .containn .popup .form label{
        color: #06466d;
        font-size: 8px;
    }
    .containn .popup .form input {
        height: 40px;
        width: 120px;
        border:none;
        font-size: 8px;
    }

    .containn .popup .form .button{
        margin-top: 20px;
        position: relative;
        width: 70%;
        margin: auto;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        
    }

    .containn .popup .form .button .button_{
        position: relative;
        width: 30%;
        padding: 7px;
        border:none;
        border-bottom:2px solid #06466d;
        transition-duration: 0.5s;
        cursor: pointer;
        font-size: 7px;
    }

    .containn .popup .form .button .button_:hover{
        transition-duration: 0.5s;
        background-color: #06466d;
        color:#fff;
        border-top-left-radius: 10px ;
        border-top-right-radius: 10px ;
    }
    .popup h2{
        font-size: 11px;
    }

    /*RESPONSIVE NAVBAR HORIZONTALE*/


    .session{
        display: flex;
        width: 25%;
        height: 100%;
        float: auto;
    }
    .session a{    
        display: flex;
    }

    .session a img{
        display: block;
        margin:auto;
    }
    .session a .img_profile{
            width: 100%;
            height: 60%;
            border-radius:60px ;       
    }

    .session a .img_deconnexion{
        width: 100%;
        height: 50%;
        border-radius:30px ;
        transition-duration: 0.2s;  
    }
    .session a .img_deconnexion:hover{
        width: 100%;
        height: 50%;
    }
    .espace{
        position: relative;
        width: 20%;
        height: 100%;
    }

    .info{
        width: 75%;
        height: 100%;
        float: left;
        display: flex;
        justify-content: space-evenly;
        line-height: 90px;
    }


    .info a{
        display: inline-block;
        position: relative;
        background: #fff;
        height: 12%;
        width: 15%;
        color:#000000;
        text-align: center;
        padding-bottom: 0;
        padding-top: 0;
        padding: 11px;
        top:10px;
        margin-top:0;
        border-radius:10px;
        font-size: 10px;
        line-height: 13px;
        border-bottom: 2px solid #2b73b3;
    }

    .info .text{

        font-size: 10px;
        line-height: 50px;
    }

    .info a:hover{
        height: 12%;
        background: #06466d;
        color:#fff;
        transition-duration: 0.4s;
    }
}




/* Message d'erreur ou des succes  */

.message_erreur{
    position: absolute;
    display: block;
    z-index: 1;
    left:40%;
    top: 0;
    width: 20%;
    padding: 20px;
    margin-top:20px ;
    background: #db343f;
    border-radius: 13px;
    color:#fff;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    font-size: 20px;
    animation-name: example;
    animation-duration: 5s;
}

.message_succes{
    position: absolute;
    display: block;
    z-index: 1;
    left:40%;
    top: 0;
    width: 20%;
    padding: 20px;
    margin-top:20px ;
    background: #88ffd1;
    border-radius: 13px;
    color:#000000;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    font-size: 20px;
    animation-name: examplee;
    box-shadow: 0 16px 24px 2px rgba(29,17,51,.04),0 6px 32px 4px rgba(9,32,77,.12),0 8px 12px -5px rgba(29,17,51,.12);
    animation-duration: 5s;
}
@keyframes example{
    0%  {background-color:#db343f; left:40%;; top:0px;}
    25% {background-color:#db343f; left:40%;; top:0px;}
    50% {background-color:#db343f; left:40%;; top:0px;}
    75% {background-color:#db343f; left:40%;; top:0px;}
    100%{background-color:#db343f; left:100%; top:0px;}
}
@keyframes examplee{
    0%  {background-color:#88ffd1; left:40%;; top:0px;}
    25% {background-color:#88ffd1; left:40%;; top:0px;}
    50% {background-color:#88ffd1; left:40%;; top:0px;}
    75% {background-color:#88ffd1; left:40%;; top:0px;}
    100%{background-color:#88ffd1; left:100%; top:0px;}
}