.lineaire-simple {
    background: linear-gradient( to right, #FF6600, #4DB3E9 65%,#4DB3E9 67%,#4DB3E9 68%,#4DB3E9 69%, #4DB3E9 70%, #4DB3E9 75%, #4DB3E9 100%,#FF6600 30% );
  }

  body {

    width: 12;
}

h3{
    text-align: center;
}
.navbar{
   
    left: 420px;
}
.btn{
    height: 35px;
    width: 100px;
    margin-left: 420px;
    border-radius: 50px;
    border-width: 4px;
    background-color: #4DB3E9;
    border-color: #2B73B3;


}

.btn-inscrire{
    margin-left: 420px;
    border-radius: 50px;
    border-width: 4px;
    background-color: #FFFF;
    border-color: #FF6600;


}

.bons{
    color:#4DB3E9;
}

#lib{
    color: #4DB3E9;
    font-weight: bold;
    text-align: left;
}
   
.piedpage{
    background: linear-gradient(to left, #2B73B3, #4DB3E9, #FF6600);
    height: 300px;
    text-align: center;
}

.piedpage h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    justify-content: center;
}

.piedpage p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
}


.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #111;
}

.footer-bottom{
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
   color: #fff;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }

.footer-menu{
    float: right;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  
  .footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
  }

  @media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }
 
.bon-savoir{
    background-color: #FFFF;
}


.savoir{
    justify-content: space-between;
    margin: 20px;
    display: flex;
    position: relative;
     }
.Packs{
   background-color: #4DB3E9; 
}
    
.box{
    margin: 0 15px;
   background-color: #2B73B3;
   border-radius: 5px;
}

.box1{
    height: 250;
    width: 200px;
}

.box2{
    height: 250;
    width: 200px;
}

.box3{
    height: 250;
    width: 200px;
}

.box4{
    height: 250;
    width: 200px;  
}

h4{
    color: #E8362C;
    border-color: #E8362C;
    text-align: center;
}

#pack{
    color: #E8362C;

}

#pack1{
    text-align: center;
}