.send {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    border-color: #fff;
    background-color: #fff;
  }
  
/* Modal styles */

.modal .modal-dialog {
    max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}	
.modal form label {
    font-weight: normal;
}	

   /*--------barre de recherche----------*/
.search {
display: flex;
align-items: center;
right: float;
}
.search input{
width: 200px;
border: 2px solid #0c0d0d;
padding: 5px;
border-radius: 3px;
}
.search button{
position: absolute;
margin-left: 160px;
}

/*--table design start----*/ 
thead {
background-color: #7b93bd;
}	   		
    
.modif {
color:#0b07ff;
}
    
.delete {
color:#ED0010;
}
/*--table design end----*/ 

/*----Pack-------*/
.portlet .portlet {
    align-items: center;
    margin-bottom: 1rem;
    margin: 10px;
    width: 200px;
}

.portlet .portlet {
    margin-bottom: 1rem;
}
.theme-light .portlet {
    background: #fff;
    border-color: #9d96ed;
}
.portlet {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 1.5rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
}

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img {
    max-width: 120px;
  }
  
  .profile .profile-card h2 {
    font-size: 24px;
    font-weight: 700;
    color: #2c384e;
    margin: 10px 0 0 0;
  }
  
  .profile .profile-card h3 {
    font-size: 18px;
  }
  
  .profile .profile-card .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .profile .profile-card .social-links a:hover {
    color: #012970;
  }
  
  .profile .profile-overview .row {
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .profile .profile-overview .card-title {
    color: #012970;
  }
  
  .profile .profile-overview .label {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
  }
  
  .profile .profile-edit label {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
  }
  
  .profile .profile-edit img {
    max-width: 120px;
  }

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    padding: 28px 30px;
  }
  
  .contact .info-box i {
    font-size: 38px;
    line-height: 0;
    color: #4154f1;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #4154f1;
  }
  
  .contact .php-email-form input {
    padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #4154f1;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #5969f3;
  }  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }  